			/* Customizable font and colors */
			html {
				background: #11111;
				text-align: center;
				font-size: 45px;
			}
			#clocktext {
				font-family: sans-serif, cursive;
				font-weight: bold;
				color: #99911;
			}
